@model QLBGX.ViewModel.CreateCustomerViewModel

<div class="container mt-5">
    <h2>Thêm Khách Hàng Mới</h2>
    <hr />

    <form asp-action="CreateCustomer">
        <div class="form-group">
            <label asp-for="TenKh" class="control-label">Tên Khách Hàng</label>
            <input asp-for="TenKh" class="form-control" placeholder="Nhập tên khách hàng" />
            <span asp-validation-for="TenKh" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SoDienThoai" class="control-label">Số Điện Thoại</label>
            <input asp-for="SoDienThoai" class="form-control" placeholder="Nhập số điện thoại" />
            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DiaChi" class="control-label">Địa Chỉ</label>
            <input asp-for="DiaChi" class="form-control" placeholder="Nhập địa chỉ" />
            <span asp-validation-for="DiaChi" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Nhập email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TenDangNhap" class="control-label">Tên Đăng Nhập</label>
            <input asp-for="TenDangNhap" class="form-control" />
            <span asp-validation-for="TenDangNhap" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MatKhau" class="control-label">Mật Khẩu</label>
            <input asp-for="MatKhau" class="form-control" type="password" />
            <span asp-validation-for="MatKhau" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MaLoaiTaiKhoan" class="control-label">Loại Tài Khoản</label>
            <select asp-for="MaLoaiTaiKhoan" asp-items="ViewBag.LoaiTaiKhoan" class="form-control"></select>
            <span asp-validation-for="MaLoaiTaiKhoan" class="text-danger"></span>
        </div>

        

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Thêm Khách Hàng</button>
        </div>
    </form>
</div>
